* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    width:1440px;
    height: 130vh;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
}

.container {
    position: relative;
    width:450px;
    height:650px;
    border:1px solid white;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upperimg {
    border-radius: 20px 20px 0 0;
    display: block;
    margin-bottom: 20px;
}

.order {
    font-family: 'Red Hat Display';
    font-size: 25px;
    margin-bottom: 20px;
    color:hsl(223, 47%, 23%);
    font-weight: 800;

}

.text {
    font-family: 'Red Hat Display';
    color:gray;
    font-weight: 500;
    margin-bottom: 20px;
}

.price {
    display: flex;
    width: 350px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: hsl(225, 100%, 98%);
    margin-bottom: 20px;

}

.icon {
    width:50px;
    height:50px;
    margin-left: 30px;
    margin-top: 25px;
}

.annual {
    margin-top: 28px;
    margin-left: 15px;
}
.plan1 {
    font-family: 'Red Hat Display';
    color:hsl(223, 47%, 23%);
    font-weight: 800;
}

.plan2 {
    font-family: 'Red Hat Display';
    color:grey;
    font-weight: 500;
}

.change {
    margin-top: 35px;
    margin-left: 85px;
    font-family: 'Red Hat Display';
    font-weight: 800;
}

.change a {
    color:blue;
}

.proceed {
    width: 350px;
    height: 55px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: hsl(245, 75%, 52%);
    font-family: 'Red Hat Display';
    font-weight: 800;
    padding-left: 100px;
    padding-top: 13px;
    margin-bottom: 20px;
}

.proceed a {
    color:white;
    text-decoration: none;
}

.cancel {
    font-family: 'Red Hat Display';
    color:grey;
    font-weight: 800;
}

.cancel a {
    color:grey;
    text-decoration: none;
}